
@import '@/styles/variables';

/*------------- UTILITIES -------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #1c1c1c;
    font-family: 'Open Sans Condensed', sans-serif;
}

.full-width {
    width: 100%;
}

.conteiner {
    width: 1270px;
    margin: 0 auto; 
}

.debug {
    border: 1px solid red
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

img {
    height: 100%
}

button {
    background-color: transparent;
    border: none;
    border: 2px solid $primary-color;
    width: 170px;
    padding: 10px 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}